{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Редактирование пользователя: {{ user.username }}</h2>

    <!-- Отображение сообщений -->
    {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ form.as_p }}  <!-- Выводим все поля формы с помощью as_p -->
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
