<!-- templates/order_success.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-5">
    <img src="{% static 'images/success-icon.png' %}" alt="Иконка успешного заказа" width="100" class="mb-4">
    <h2 class="mb-4 text-success">Заказ успешно оформлен!</h2>
    <p class="lead">Ваш заказ был успешно принят. Спасибо, что выбрали нас!</p>
    <hr class="my-4">
    <div class="d-flex justify-content-center flex-wrap">
        <a href="{% url 'order_history' %}" class="btn btn-outline-success btn-lg me-2 mb-2">Посмотреть заказы</a>
        <a href="{% url 'catalog' %}" class="btn btn-primary btn-lg mb-2">Вернуться к каталогу</a>
    </div>
</div>
{% endblock %}


