/* Переменные для светлой темы */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --light-bg: #f8f9fa;
    --text-color: #555;
    --gradient-start: #f0f8ff;
    --gradient-end: #e6f7ff;
    --header-border: #e9ecef;
    --hover-bg: #e9ecef;
    --warning-color: #ffc107;
    --muted-color: #d6d6d6;
}

/* Переменные для темной темы */
body.dark-theme {
    --primary-color: #303f9f;
    --secondary-color: #1e3a8a;
    --light-bg: #1f1f1f;
    --text-color: #e0e0e0;
    --gradient-start: #222;
    --gradient-end: #333;
    --header-border: #333;
    --hover-bg: #616161;
    --warning-color: #ffc107;
    --muted-color: #888;
}

/* Основные стили */
body {
    background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

/* Стиль для хедера */
header {
    background-color: var(--light-bg);
    padding: 10px 0;
    border-bottom: 1px solid var(--header-border);
}

.navbar-brand img {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

/* Стили навигации */
.nav {
    display: flex;
    align-items: center;
}

.nav .nav-link, .nav form {
    margin-right: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav .fa {
    font-size: 1em;
}

.nav-link {
    font-size: 16px;
    padding: 5px 15px;
    color: var(--primary-color);
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .btn-link:hover {
    background-color: var(--hover-bg);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
}

/* Стили для кнопок */
.btn-link {
    padding: 0;
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

/* Стили для карточек товаров */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
}

.card-title, .card-text {
    min-height: 50px;
}

/* Стили для кнопок в карточках каталога */
.catalog .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.catalog .btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    transform: scale(1.05);
}

/* Стили для рейтинга */
.text-warning {
    color: var(--warning-color);
}

.text-muted {
    color: var(--muted-color);
}

.fa-star, .fa-star-half-alt, .fa-star {
    font-size: 1.2em;
}

/* Стили для футера */
footer {
    background-color: var(--light-bg);
    padding: 10px 0;
    border-top: 1px solid var(--header-border);
}

footer p {
    margin: 0;
    color: var(--text-color);
}

/* Стили для карты */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 100%;
    }
}
